.ListItem {
    color: var(--main-text-color);
    background-color: var(--background-secondary);
    border-radius: 4px;
    padding: 8px 16px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.RemoveButton {
    height: 29px;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--accent-primary);
    color: var(--accent-primary);
    background-color: transparent;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    margin-left: 10px;
    white-space: nowrap;

    &:hover, &:focus {
        background-color: var(--accent-primary);
        color: var(--accent-secondary);

        svg {
            stroke: var(--accent-secondary);
        }
    }

    svg {
        width: 14px;
        height: 14px;
        stroke: var(--accent-primary);
        transition: stroke 0.25s;
        margin-right: 5px;
        position: relative;
        top: 2px;
    }
}

@media all and (max-width: 480px) {
    .ListItem {
        padding: 4px 10px;
    }
}