@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    src: url("./assets/fonts/Lato-Bold.ttf") format("truetype");
}

:root {
    --background-primary: #121212;
    --background-secondary: #363636;
    --text-primary: #ffffff;
    --text-secondary: #213547;

    --accent-primary: #8687E7;
    --accent-secondary: #ffffff;
    --input-border-color: #979797;

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-primary: #F5F7FA;
        --background-secondary: #f0f0f0;
        --text-primary: #000000;
        --text-secondary: #363636;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    font-family: Lato, serif;
    font-weight: normal;
    color: var(--text-primary);
    background-color: var(--main-bg-color);
}

#root {
    max-width: 768px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

button {
    cursor: pointer;
}

ul {
    padding: 0;
    list-style: none;
}